SetEnv APP_BASE_PATH /home/u284368723/domains/avanturadeals.com/public_html/moneytidecn

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
